<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- link to Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/styleHome.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Link to Google Fontos -->
    <link href="https://fonts.googleapis.com/css?family=Chango|Gugi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Galindo|Keania+One|Nova+Flat|Salsa|Wallpoet&display=swap"
        rel="stylesheet">
    <!-- MATERIAL ICON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://use.fontawesome.com/aea2d8341a.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>
        Eat-da-candy
    </title>
</head>

<body>
  {{{body}}}
  <script src="/public/js/index.js"/>
</body>

</html>
